:root {
    --fg-color: #242424;
    --bg-color: #ababab;
    --elem-fg-color: #ababab;
    --elem-bg-color: #555;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: #ababab;
        --bg-color: #242424;
        --elem-fg-color: #242424;
        --elem-bg-color: #ababab;
    }
}

[data-theme="dark"] {
    --fg-color: #ababab;
    --bg-color: #242424;
    --elem-fg-color: #242424;
    --elem-bg-color: #ababab;    
}

[data-theme="light"] {
    --fg-color: #242424;
    --bg-color: #ababab;
    --elem-fg-color: #ababab;
    --elem-bg-color: #555;  
}

html, body, #root {
    height: 100%;
    color: var(--fg-color);
    background-color: var(--bg-color);
    font-family: Times, serif;
}

#app {
    color: var(--fg-color);
    background-color: var(--bg-color);
    min-width: min-content;
    font-family: Times, serif;
}

.header {
    text-align: center;
    justify-content: 'center';
    margin: 2rem;
}

.main {
    text-align: center;
    justify-content: 'center';
}

.h1 {
    font-size: 3.2rem;
}

.select {
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    color: var(--elem-fg-color);
    background-color: var(--elem-bg-color);
    margin-right: 2.5em;
    margin-left: 0.75em;
}

.label {
    font-size: 1.5rem;
}

.div {
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.div-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.p {
    font-size: 1.3em;
    font-weight: 600;
}

.p-msg {
    font-size: 3em;
    font-weight: 600;
    color: rgb(10, 28, 192);
}

.a {
    /* margin: 2rem; */
    justify-content: 'center';
    font-size: 1.3em;
    font-weight: 600;
    margin-right: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(18em, 1fr));
    grid-gap: 2rem;
    margin: 1rem auto;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    height: 80%;
}

.container-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.container-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.button {
    font-size: 1.5rem;
    color: var(--elem-fg-color);
    background-color: var(--elem-bg-color);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    margin: 1rem;
}

.button:hover
{
    color: white;
    background-color: #424242;
}

figcaption {
  color: fg-color;
  background-color: --bg-color;
  font: italic larger sans-serif;
  padding: 3px;
  text-align: center;
}

.logo {
    width: 35%;
    height: 35%;
}